    /* PAGE: Main.view.xml */
.HeaderTitle {
    color: #000000 !important;}

/* GO Button (MDC Render ra dưới dạng sapMBtnEmphasized) */
.customMdcFilterBar .sapMBtnEmphasized {
    background-color: #3b14afc3 !important; 
    border-color: #3b14afc3 !important;
    color: #ffffff !important;}

/* ADAPT FILTERS (MDC Render ra dưới dạng sapMBtnTransparent hoặc mặc định) */
.customMdcFilterBar .sapMBtnTransparent,
.customMdcFilterBar button[id*="btnAdapt"] {
    background-color: #ffffff !important;
    color: #311681f6 !important;}

/* PRODUCT INFORMATION */
.customTitleColor {
    color: #311681f6 !important;}

/* Add Button */
.customAddBtn .sapMBtnInner {
    background-color: #000000 !important; 
    color: #ffffff !important;
    border-color: #000000 !important;}

    /* PAGE: Manage.view.xml */
/* PRODUCTS MANAGEMENT Title */
.customManageTitle .sapMTitle {
    color: #311681f6 !important;}

/* Add New Row Button */
.customAddRowBtn .sapMBtnInner {
    background-color: #5f4444 !important;
    color: #ffffff !important;
    border-color: #5f4444 !important;}

/* Save Changes Button */
.customSaveBtn .sapMBtnInner {
    background-color: #292727 !important;
    color: #ffffff !important;
    border-color: #292727 !important;}

/* Cancel Button */
.customCancelBtn .sapMBtnInner {
    background-color: #eedddd !important;
    color: #db3737 !important;
    border-color: #eedddd !important;}

/* Custom Subtext Italic inside Dialog */
.customSubTextItalic {
    font-size: 0.85rem !important;
    font-style: italic !important;
    color: #64748b !important;}

/* Delete Button on Toolbar */
.customDeleteBtn .sapMBtnInner {
    background-color: #db3737 !important;
    color: #ffffff !important;
    border-color: #db3737 !important;}